* {
    margin: 0;
    padding: 0;
}

body {
    font: normal 12px/16px 'Arial', sans-serif; 
}

.wrapper {
    width: 910px;
    margin: 0 auto;
}

ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 0;
	line-height: 0;
}

li {
	display: inline-block;
	font-size: 14px;
	line-height: normal;
}

.top div {
    display: inline-block;
}
section { position: relative; }
address {
    display: inline-block;
    font: normal 18px/23px 'Arial', sans-serif;
    color: #5e696d;
    background: url(../images/phone-icon.png) no-repeat;
    padding: 0 0 0 25px;
    margin: 0 0 0 5px;
}

.login {
    display: inline-block;
    height: 26px;
    background-color: #ccc;
    padding: 0 5px;
}

.login form {
    display: inline-block;
    padding: 0 0 0 15px;
    background: url(../images/login-icon.png) no-repeat;
}

.login input {
    width: 115px;
    height: 18px;
    border: 1px solid #ccc;
    border-radius: 1px;
}

.login a {
    display: inline-block;
    font: normal 11px/18px 'Arial', sans-serif;
    color: #fff;
}

.fast-access {
    position: absolute;
    top: 0;
    right: 5px;
}

.content {
    margin-bottom: 38px;
}

main,
main div,
.content section {
    display: inline-block;
    vertical-align: top;
}

.catalog,
.filter {
    width: 183px;
}



main {
    width: 472px;
    border-radius: 3px;
    background-image: linear-gradient( 0deg, #93a7b0 0%, #e5e7e8 100%);
    text-align: center;
    padding: 16px 27px 27px 27px;
}

.item {
    width: 139px;
    margin-right: 24px;
}

.item:nth-child(3n+3) {
    margin-right: 0;
}

.image {
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #aeb7ba;
    width: 100%;
    height: 127px;
    background-color: #fff;
}

}

.logos {
    text-align: center;
    margin-bottom: 22px;
}

.logos li {
    position: relative;
    margin: 0 7px;
}

.hover {
    display: none;
}

.logos a:hover .hover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    background-color: #213a4d;
    text-align: center;
    padding: 11px 0 0 0;
    border-radius: 2px 2px 0 0;
    border: 1px solid #242c3e;
    border-bottom: none; 
}

footer li {
    position: relative;
    line-height: 10px;
    padding: 0 13px;
}

footer li:after {
    content: "";
    width: 1px;
    height: 11px;
    background-color: #bec6c9;
    position: absolute;
    top: 1px;
    right: 0;
}

footer li:last-child:after {
    display: none;
}

footer a {
    font-size: 12px;
    color: #bec6c9;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
}

footer a.active {
    color: #52abcb;
    cursor: default;
}

footer p {
    font-size: 10px;
    color: #7f4740;
    margin: 14px 0 0 0;
}



